.NotableSightings {
  grid-column: span 2;
  text-align: left;
}

.NotableSightings__table {
  width: 100%;
}

.NotableSightings tr {
  height: 2rem;
  color: var(--white);
}

.NotableSightings th,
.NotableSightings td {
  padding: .25rem;
}

.NotableSightings__rarityCode-column,
.NotableSightings__howMany-column {
  text-align: center;
  width: 5%;
}

.NotableSightings__rarityCode-column {
  font-weight: bolder;
}

.NotableSightings__comNAme-column {
  width: 30%;
}

.NotableSightings__locName-column {
  width: 45%
}

.NotableSightings__obsDt-column {
  width: 15%
}