.Sidebar {
  background-color: #3c3c64;
  bottom: 0;
  color: #fff;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 320px;
}

.Console {
  height: 300px;
  padding: 40px;
  background-color: #2d2d47;
}
