main {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem 3rem;
}

.Root__div {
  align-items: flex-end;
  display: flex;
}

header {
  color: #ff6600;
}

.Root__h1 {
  font-size: 4rem;
}