main {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--card-shadow);
  margin: 2rem 3rem;
  padding: 2rem;
}

.Root__div {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.Root__h1 {
  color: var(--primary-color);
  font-size: 4rem;
}